@import "tailwindcss";

*,*::after,*::before{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-Montserrat-Alternates);
  
}
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb{
border-radius: 5px;
background-color: var(--color-stone-600);
}
